#modeImageView {
    -fx-image: url("../../textures/moonIconBlack.png");
}

#sparePartsImageview {
    -fx-image: url("../../textures/platform_icon_black.png");
}

#positionsImageview {
    -fx-image: url("../../textures/productIconBlack.png");
}

#tenthPartImageview {
    -fx-image: url("../../textures/incomeTaxIconBlack.png");
}

#copyBtn {
    -fx-graphic: url("../../textures/icons8-kopieren-16-black.png")
}